<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78244317627-m9mkvqo1tgp4kvnonsajdbt1evqsmfnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78244317627-m9mkvqo1tgp4kvnonsajdbt1evqsmfnk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78244317627-qaihdj1me9krmilt6cqk9sar27pk86od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaKQn4xioLNvYyOEADRRJpp3aK_9mnT4o</string>
	<key>GCM_SENDER_ID</key>
	<string>78244317627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.rudo.JustChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-d613e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-d613e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78244317627:ios:b2235921caf4318fc1dc9e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-d613e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>